Package: skrypt-mint
Version: 0.9-3
Section: admin
Priority: optional
Homepage: http://linuxmint.pl
Architecture: all
Essential: no
Installed-Size: 164
Maintainer: mati75 <mati75@op.pl>
Depends: python (>=2.6) | python2.6, python-wxgtk2.8, python-wxversion, apt, fakeroot, libopenssl-ruby1.8, libhpricot-ruby1.8, zenity, python-vte
Recommends: xdg-utils
Suggests: alien, md5sum
Description: mintSkrypt is the gtk script for configuration Linux Mint special write for polish users.


